* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(45deg, rgb(87, 73, 28), rgb(243, 223, 187));
	color: rgb(59, 59, 59);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 64px;
	overflow-x: hidden;
	text-transform: uppercase;
}
h1 {
	text-align: center;
	margin: 96px;
	font-size: 66px;
}
.photo {
	border: solid 3px white;
	border-radius: 10px;
	cursor: pointer;
	margin: 32px;
	max-width: 500px;
	max-height: 400px;
	transform: scale(1);
	transition: transform 0.3s;
	overflow: hidden;
	box-shadow: 0 0 48px 1px rgba(0, 0, 0, 0.5);
}
.photo:hover {
	transform: scale(1.3);
}
.photo img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.gallery {
	background: linear-gradient(
		60deg,
		rgb(252, 248, 211),
		rgba(221, 203, 139, 0.5)
	);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 64px;
	border-radius: 20px;
}
.popup {
	align-content: center;
	animation: fadeIn 0.4s;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	justify-content: center;
	backdrop-filter: blur(5px);
}
.popup.hidden {
	display: none;
}
.popup.fade-out {
	animation: fadeOut 0.4s both;
}

.popup__img {
	max-height: 80%;
	max-width: 80%;
}
.popup__close {
	background-color: transparent;
	color: rgba(226, 226, 226, 0.5);
	border: none;
	cursor: pointer;
	position: fixed;
	right: 52px;
	top: 32px;
	font-size: 78px;
}
.popup__arrow {
	position: absolute;
	top: 45%;
	font-size: 98px;
	height: 98px;
	width: 98px;
	line-height: 98px;
	border-radius: 50%;
	border: none;
	opacity: 0.5;

	cursor: pointer;
}
.popup__close,
.popup__arrow {
	opacity: 0.5;
	transition: opacity 0.4s;
}

.popup__close:hover,
.popup__arrow:hover {
	opacity: 1;
}
.popup__arrow--left {
	left: 3%;
}
.popup__arrow--right {
	right: 3%;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.photo img:focus {
	border: solid 5px black;
}
